#about-main {
  background:  rgb(106, 13, 114) url('../img/synth.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  background-size:cover;
  background-blend-mode: overlay;
  height:1080px;
}
.avatar  {
  border-radius:50%;


}
.avatar img {
  border-radius:50%;
  height:160px;
  width:160px;
}
#about-section {
  display:flex;
  height:1280px;
  }

p {
  color:#000;
  margin:10px 0;
}

.about {
  display:flex;
  align-items: center;
  justify-content: center;
}
.about-article {
  margin: 5% auto 0;
  text-align:center;
  border:0;

}
.about-article p {
  font-size:2vw;
  padding:10px;
  margin:auto;
  display:flex;
  width:80%;
  color:#fff;
}

.about-main h2 {
  font-size: 2.5vw;
  color:#fff;
}
@media screen and (max-width: 768px){


  header {
    padding:0px!important;
  }
  .about-main h2 {
    font-size: 4.5vw;

    color:#fff;
  }
  h3 {
    font-size: 30px;
    margin-top:10px;
  }
  p {
    font-size: 20px;
    margin-top:10px;
  }
  .about {
    height:600px;
    display:flex;
  }
  .about-article p {
    font-size:3.5vw;
  }
}
  @media screen and (max-width: 480px){
    .about-article p {
    font-size:4.5vw;
  }
  .about-article p {
    width: 90%;
  }
}
@media screen and (max-width: 768px){

  #about-main {
    background:  rgb(106, 13, 114) url('../img/synth_768_1024.jpg');
  }
}
@media screen and (max-width: 480px){
  #about-main {
    background:  rgb(106, 13, 114) url('../img/synth_480_853.jpg');
  }

}
@media screen and (max-width: 414px){

  #about-main {
    background:  rgb(106, 13, 114) url('../img/synth_414_900.jpg');
  }
}
@media screen and (max-width: 375px){

  #about-main {
    background:  rgb(106, 13, 114) url('../img/synth_375_812.jpg');
  }
}
@media screen and (max-width: 360px){

  #about-main {
    background:  rgb(106, 13, 114) url('../img/synth_360_740.jpg');
  }
}
@media screen and (max-width: 320px){
  #about-main {
  background:  rgb(106, 13, 114) url('../img/synth_320_570.jpg');
}
}
