
h2 {
  color:#fff;
}
p {
  color:#000;
  margin:10px 0;
}
.avatar{
  width:220px;
  padding: 3px 0 0;
  margin:0 auto;
  border-radius:10px;
  background-color: #fff;
  background-repeat: repeat-y;
  border: 1px #666 solid;
  margin-bottom:20px;
}
.avatar img{
  padding:3px;
  background-color: rgba(10, 10, 10, 0.5);
  border:2px #666 solid;
  border-radius:10px;
}
.about {
  display:flex;
  align-items: center;
  justify-content: center;
}
.about-article {
  margin: 5% auto 0;
  text-align:center;
}
.about-article p {
  font-size:3.5vw;
  padding:10px;
  margin:auto;
  display:flex;
  width:700px;
}

.about-main h2 {
  margin-bottom:20px;
}
@media screen and (max-width: 768px){
    main, nav {
      flex-direction: column;
    }

  header {
    padding:0px!important;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
    margin-top:10px;
  }
  p {
    font-size: 20px;
    margin-top:10px;
  }
  .about {
    height:600px;
    display:flex;
  }
  .about-article p {
    font-size:4.5vw;
    padding:10px 0;
    width:500px;
    margin:auto;
    display:flex;
  }
}
  @media screen and (max-width: 440px){
    .about-article p {
    font-size:4.5vw;
  }
}