* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
body {
  background: #2235e6 url('../img/conduit.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
header {
  padding: 60px;
  text-align: center;
  background-color: transparent;
  color: #fff;
}

nav {
  /* display: flex; */
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

nav a:hover {
  color: #333;
  background-color: #fff;
}


main {
  display: flex;
  flex-wrap: wrap;
}

article {
  border-bottom: 2px solid #999;
  padding: 10px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #aaa;
}
/* .Navbar__menu {
  display: none;
} */

#Navbar_links {
  display:flex;
}
.Navbar__menu {
  background: #333;
  opacity: 0.5;
  width:100%;
  height:46px;
  align-self: flex-start;
  display: none;
  padding:10px;
} 

@media screen and (max-width: 1024px){
  /* main, nav, .summary, .project {
    flex-direction: column;
    font-size:3vw;
  } */
  /* body {
    background: transparent url('../img/servers_1024_1366.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  } */
 
  /* .Navbar__menu {
    background: #333;
    opacity: 0.5;
    width:100%;
    height:46px;
    align-self: flex-start;
    display: flex;
    padding:10px;
  } 
  .Navbar__menu img {
    cursor: pointer;
    margin-left: 10px;
  }
  #Navbar_links {
    display:none;
  } */
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
    margin-top:20px;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  nav {
    opacity: 0.5;
  }
  .byline {
    height: 400px;
    background-color: transparent;
    display: flex;
  }
  p {
    text-decoration: none;
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  article {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }


}
@media screen and (max-width: 768px){

  body {
    background: transparent url('../img/servers_768_1024.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  height:1080px;
  }
}
/* @media screen and (max-width: 480px){

  body {
    background: transparent url('../img/servers_480_855.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  }
}
@media screen and (max-width: 414px){

  body {
    background: transparent url('../img/servers_414_900.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  }
}
@media screen and (max-width: 375px){

  body {
    background: transparent url('../img/servers_375_819.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  }
}
@media screen and (max-width: 360px){

  body {
    background: transparent url('../img/servers_360_740.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-blend-mode: overlay;
  }
} */