* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

#contact-main {
  background: #666  url('../img/pipes.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  background-size:cover;
  background-blend-mode: soft-light;

  display:flex;
}

#contact-section {
  display:flex;
  height:1080px;
  width:100%;
  }


#contact-article {
  color: #fff;
  font-size: 50px;
  margin: auto;
  text-align:center;
  border-bottom: none;
  background:rgba(120, 120, 120, 0.6) ;
  border-radius:15px;
}
#contact-article p {
  font-size:3vw;
  color:#fff;
  display: flex;
  flex-wrap: wrap;
  text-align:center;
  margin:auto;
}

.contact-main h2 {
  color:#fff;

}


.contact {
  display:flex;
  align-items: center;
  justify-content: center;
}
.contacts li a{
  text-align:center;
}

@media screen and (max-width: 768px){

  header {
    padding:0px!important;
  }
  .contact-main h2 {
    color:#fff;
    font-size:4vw;
  }
  h3 {
    font-size: 30px;
    margin-top:10px;
  }
  p {
    font-size: 20px;
    margin-top:10px;
  }
  .contact {
    height:600px;
    display:flex;
  }
  .contact-article p {
    font-size:3.5vw;
  }
}
  @media screen and (max-width: 440px){
    .contact-article p {
    font-size:4.5vw;
  }
}




.contacts {
  list-style-type: none;
  padding:0;
}
.contacts li {
  display:inline-block;
  padding:20px;
}
h2.contactMe {
  color:#fff;
}

.contacts li a{
  text-decoration:none;
}
.contacts li a, .contacts li a:visited{
color:#fff;
width:400px;
}
.contact-section {

  align-items: center;
  justify-content: center;
}
.contact-article {
  background-color: #fff; 
  color:#000;
  /* padding:20px; */
}
.contact-article  h2 {
  color:#000;
}

