
.contacts {
  list-style-type: none;
  padding:0;
  width:400px;
}
.contacts li {
  display:inline-block;
  padding:20px;
  text-align:left;
}
h2.contactMe {
  color:#fff;
}

.contacts li a{
  text-decoration:none;
}
.contacts li a, .contacts li a:visited{
color:#fff;
text-align:left;
}
