* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
body {
  background: transparent url('../img/backgroundG.jpg');
  background-repeat: repeat-y;

  background-size: cover;
  background-position: center center;
  background-blend-mode: screen;
}
header {
  padding: 60px;
  text-align: center;
  background-color: transparent;
  color: #fff;
}

nav {
  display: flex;
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  font-size:2vw;
}

nav a:hover {
  color: #333;
  background-color: #fff;
}

.home-main {
  display: flex;
  flex-wrap: wrap;
}

#home-section {
  height: 800px;
  display:flex;
}

#home-article {
  width:400px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #aaa;
}
.home-h2 {
  font-size: 50px;
  color:#000;
}
.home-h3 {
  font-size: 40px;
  margin-top:20px;
  color:#fff;

}
.home-p {
  font-size: 20px;
  margin:20px auto;
  text-align:center;
}

.links {
  max-width: 1000px;
  margin: 40px auto 0 auto;
}
@media (min-width: 600px){
  .links {
     display: flex;
  }
}
.contact {
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width:30%;
  margin: 10px;
  flex: 1;
}
.contact img {
  margin-right:10px;

}

@media screen and (max-width: 700px){
  main, nav {
    flex-direction: column;
  }
  .box {
    height: 400px;
    display: flex;
  }
  .home {
    margin:auto;
  }
  .home-h2 {
    font-size: 40px;
  }
  .home-h3 {
    font-size: 30px;
    margin-top:20px;
  }
  .home-p {
    font-size: 20px;
    margin:20px auto;
    text-align:center;
  }


  nav {
    opacity: 0.5;
  }
  #home-section {
    margin:auto;
  }
  .home  {
    color: #fff;
    font-size: 50px;
    margin: auto;
    text-align:center;
    border-bottom: none;
  }
  p {
    text-decoration: none;
  }

}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
