* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
body {
  background: transparent url('../img/backgroundG.jpg');
  background-repeat: repeat-y;

  background-size: cover;
  background-position: center center;
  background-blend-mode: screen;
}
header {
  padding: 60px;
  text-align: center;
  background-color: transparent;
  color: #fff;
}


.home-main {
  display: flex;
  flex-wrap: wrap;
}

#home-section {
  display:flex;
}

#home-article {
  width:400px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin: auto;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #aaa;
}
.home-h2 {
  font-size: 50px;
  color:#000;
  text-align:center;
}
.home-h3 {
  font-size: 40px;
  margin-top:20px;
  color:#fff;
  text-align:center;
}
.home-p {
  font-size: 20px;
  margin:20px auto;
  text-align:center;
}

.links {
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.home-main  {
  color: #fff;
  font-size: 50px;
  margin: 20% auto 0;
  text-align:center;
  border-bottom: none;
}

.home-contacts img {
  width:35px;
}
@media (min-width: 768px){
  .links {
     display: flex;
  }
}
.home-contact1,.home-contact2, .home-contact3 {
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin: 10px;
  flex: 1;
 
  list-style-type: none;
  padding:0;
}
.home-contact1 img {
  /* padding: 10px; */
  /* margin-bottom: 20px; */
  /* box-sizing: border-box; */
  /* margin: 10px; */
  flex: 1;
}
.home-contact2 img {
  /* padding: 10px; */
  /* margin-bottom: 20px;
  box-sizing: border-box; */
  /* margin: 10px; */
  flex: 1;
}
.home-contact3 {
  /* padding: 10px; */
  /* margin-bottom: 20px; */
  /* box-sizing: border-box; */
  margin-left: 30px;
  flex: 1;
}
.home-contacts {
  text-decoration:none;
  text-align:center; 
  /* max-width:1000px;*/
  margin:auto;
  padding-inline-start:0;
  display:flex;
}
.home-contacts li a, .home-contacts li a:visited{
color:#fff;
text-align:left;
}


.links {
  /* display: flex; */
}
.email {
  margin-top:10px;
}
@media screen and (max-width: 768px){

  .home {
    margin:auto;
  }
  .home-h2 {
    font-size: 40px;
  }
  .home-h3 {
    font-size: 30px;
    margin-top:20px;
  }
  .home-p {
    font-size: 20px;
    margin:20px auto;
  }
  .home-contact3 {
    margin-left: 0px;
  }
  a {
    font-size:3vw;
  }

  nav {
    opacity: 0.5;
  }

  .home-main  {
    color: #fff;
    font-size: 50px;
    margin: 35% auto 0;
    text-align:center;
    border-bottom: none;
  }

  .home-contacts img {
    width:35px;
  }
  
  p {
    text-decoration: none;
  }

}

.App {
  text-align: center;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
