#project-section {
  background:  #333 url('../img/projects.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0; 
  /* background-size:cover; */
  background-blend-mode: overlay;
  height:2600px;
}
.project-article {
  width:90%;
  margin:0 auto;
  background:transparent;
  padding:10px;
}
.projects {

  margin:auto;
}
.projects img {
  width:640px;
  border-radius:10px;
}
.projectTitle {
  color:#fff;

  margin:10px auto;
}
.projects p {
  color:#fff;
}
.project {
  color:#000;
  font-size: 24px;
  margin:10px auto;
}
h2 {
  color:#fff;
  font-size:2.7vw;
  text-align:center;
}
h3 {
  color:#fff;
  font-size:2.2vw;
  text-align:center;
}
h4 {
  color:#eee;
  font-size:1.5vw;
  margin:10px auto;
}
p {
  font-size: 18px;
  text-align:left;
}
ul {
  padding-inline-start:20px;

}
li {
  padding:0px 15px;
}
@media screen and (max-width: 768px){
#project-section {
  background:  #222 url('../img/projects.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0; 
  background-size:cover;
  background-blend-mode: overlay;
  height:2000px;
}

  .projects img {
    width:89vw;
    border-radius:10px;
  }
}