#project-main {
  background:  rgba(2, 51, 17, 0.2) url('../img/projects.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-blend-mode: overlay;
  height:2500px;
  margin:auto;
}
#project-section {
  margin:auto;
}
.project-article {
  display:flex;
  padding:20px 0;
}
.projImg img {
  width:640px;
  border-radius:10px;
  margin:auto;
}
.summary {
  margin:auto 50px auto;
  padding:30px;
  background:rgba(221, 252, 232, 0.67) ;
  border-radius:10px;
  max-width:500px;
}
.summary button {
  margin:auto;
}
.projectTitle {
  color:white;
  font-size:2.0vw;
  margin:10px auto 20px;
}
.projects p {
  color:#000;
}
.project {
  color:#000;
  font-size: 24px;
  margin:10px auto;

}
h2 {
  color:white;
  font-size:2.7vw;
  text-align:center;

}
#project-section h2 {
  color:white;
  font-size:3vw;
  text-align:center;
}
h3 {
  color:#fff;
  font-size:2vw;
  text-align:center;

}
h4 {
  color:#fff;
  font-size:1.5vw;
  margin:10px auto;
}
p {
  font-size: 1vw;
  text-align:left;
  color:#000;
}
ul {
  padding-inline-start:20px;

}
li {
  padding:0px 15px;
}

.summary p {
  font-size:1.2vw;
  align-self: auto;
}
@media screen and (max-width: 1366px){
  .summary p {
    font-size:1.8vw;
    align-self: auto;
  }
}
@media screen and (max-width: 1280px){
  .summary p {
    font-size:1.8vw;
    align-self: auto;
  }
  main, article, .project, .summary {
    flex-direction: column;

  }
  #project-main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
    height:4500px;
  }
  .summary p {
    font-size:2.6vw;
    align-self: auto;
  }
}
@media screen and (max-width: 1024px){
  main, article, .project, .summary {
    flex-direction: column;

  }
  #project-main {
    background: rgba(2, 51, 17, 0.2)  url('../img/projects_1024_768.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
    height: 3700px;
  }

  .summary p {
    font-size:2.6vw;
    align-self: auto;
  }


}
@media screen and (max-width: 1024px) and (max-height: 1366px){

  #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_1024_1366.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
  }
}


@media screen and (max-width: 768px){

  #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_768.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
  height: 3800px;
}
#project-section h2 {
  color: white;
  font-size: 3.5vw;
  text-align: center;
}

  .projects img {
    width:89vw;
    border-radius:10px;

  }
}
@media screen and (max-width: 640px){
  #project-main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
    height: 3200px;
}
  .projImg img{
    width:95%;
    margin:auto;
  }
}
@media screen and (max-width: 480px){
  #project-main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
    height: 2800px;
  }

  #project-section h2 {
      font-size: 4.5vw;
  }
  h3.projectTitle {
    color: white;
    font-size: 5.0vw;
    margin: 10px auto 20px;
  }
  .summary p {
    font-size: 3vw;
    align-self: auto;
  }


  #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_480.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
    height: 2600px;
  }
}
@media screen and (max-width: 414px){

  #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_414.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
    height: 2700px;
  }
}
@media screen and (max-width: 375px){

  #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_375.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
    height: 2700px;
  }
}
@media screen and (max-width: 360px){

  #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_360.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-blend-mode: overlay;
    margin:auto;
    height: 2800px;
  }
}