.project-article {
  background:  rgba(2, 51, 17, 0.2) url('../img/projects.jpg');
  /* background-repeat:repeat-y; */
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position:center center;
  /* background-size:cover; */
  max-height:875px;
  width:100vw;
  margin:auto;
}
#project-section {
  margin:auto;
}

.projImg img {
  width:640px;
  border-radius:10px;
  margin:auto;
}
.project {
  color:#000;
  font-size: 24px;
  margin:auto;
  display: flex;
  flex: 1 1 0;
  align-items: stretch;
}
.summary {

  padding:20px;
  background:rgba(221, 252, 232, 0.67) ;
  border-radius:10px;
  max-width:640px;
  flex:1 1 0;
  align-items: stretch;
}
.summary button {
  margin:auto 10px auto 0;
}
.projectTitle {
  color:white;
  font-size:2.0vw;
  margin:10px auto 20px;
}
.projects p {
  color:#000;
}

.techStack {
  margin-top:10px;
  display:flex;
  border-top:2px #666 solid;
  padding:5px 0;
}
h2 {
  color:white;
  font-size:2.7vw;
  text-align:center;

}
#project-section h2 {
  color:white;
  font-size:3vw;
  text-align:center;
}
h3 {
  color:#fff;
  font-size:2vw;
  text-align:center;

}
h4 {
  color:#fff;
  font-size:1.5vw;
  margin:10px auto;
}
p {
  font-size: 1vw;
  text-align:left;
  color:#000;
}
ul {
  padding-inline-start:20px;

}
li {
  padding:0px 15px;
}
.summary {
  max-width:640px;
  flex: 1 1 0;
  display: flex;
  align-items: stretch;
}
.summary p {
  font-size:1.2vw;
  /* align-self: auto; */
}
@media screen and (max-width: 1366px){
  .summary p {
    font-size:1.8vw;
    /* align-self: auto; */
  }
  
  .project-article {
    max-height:975px;
  }
}
@media screen and (max-width: 1280px){
  .summary p {
    font-size:1.8vw;
    /* align-self: auto; */
  }
  .project-main {
    height:3000px;
  }
  .project-article {
    max-height:1075px;
  }
  main, article {
    flex-direction: column;

  }
  #project-main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;

  }
  .summary p {
    font-size:2.1vw;
    /* align-self: auto; */
  }
}
@media screen and (max-width: 1024px){
  main, article{
    flex-direction: column;

  }
  /* #project-main {
    background: rgba(2, 51, 17, 0.2)  url('../img/projects_1024_768.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;
    height: 3700px;
  } */

  .summary p {
    font-size:2.3vw;
    /* align-self: auto; */
  }


}
@media screen and (max-width: 1024px) and (max-height: 1366px){

  .project-article {
    max-height:900px;
  }
}

@media screen and (max-width: 768px){

  /* #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_768.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;
  height: 3800px;
} */
#project-section h2 {
  color: white;
  font-size: 3.5vw;
  text-align: center;
}

  .projects img {
    width:89vw;
    border-radius:10px;

  }
}
@media screen and (max-width: 640px){
  /* #project-main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;
    height: 3200px;
} */
  .projImg img{
    width:100%;
    margin:auto;
  }
}
@media screen and (max-width: 480px){
  /* #project-main {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;
    height: 2800px;
  } */

  #project-section h2 {
      font-size: 4.5vw;
  }
  h3.projectTitle {
    color: white;
    font-size: 5.0vw;
    margin: 10px auto 20px;
  }
  .summary p {
    font-size: 3vw;
    /* align-self: auto; */
  }
  button a {
    font-size: 2vw;
  }

  /* #project-main { */
    /* background: rgba(2, 51, 17, 0.2)   url('../img/projects_480.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;
    height: 2600px;
  } */
}
@media screen and (max-width: 414px){

  /* #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_414.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;
    height: 2700px;
  } */
}
@media screen and (max-width: 375px){

  /* #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_375.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;
    height: 2700px;
  } */
}
@media screen and (max-width: 360px){

  /* #project-main {
    background: rgba(2, 51, 17, 0.2)   url('../img/projects_360.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode: overlay;
    margin:auto;
    height: 2800px;
  } */
}